<div class="jumbotron mt-5 text-center">
  <h1 class="display-4">Cody's Card Cove</h1>
  <hr class="my-4">
  <p class="lead">We have all kinds of trading cards for you to purchase!</p>
  <%= link_to "View Our Products", products_path, class: "btn btn-primary text-light" %>
</div>